<!DOCTYPE html>
<head>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.0/css/bootstrap.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>

<body background="{{ url_for('static', filename='background/blurredbackground.jpg')}}">
    <title>Reveal RGB Values</title>
    <form action='/' method='POST' enctype='multipart/form-data' id = "myform">
        <h1 class = "headers">Select an image </h1>
        <h1 class = "headers">+ </h1>
        <h1 class = "headers">Discover the colors </h1>
        <br>
        <input type='file' name='file' id= "browse">
        <input type='submit' value='submit' id = "submit">
    </form>
    {% if status == 'uploaded'%}
    <div id = "rim">
        <canvas id="frame"></canvas>
        <div id = "solutions">
            <canvas id= "solution_frame"></canvas>
            <div id="solution"></div>        
        </div>
    </div>

    {% if status == "resulted" %}
    <h1>The value will be here</h1>
    {% endif %}
    {% endif %}

    <script type= "text/javascript" src="{{ url_for('static', filename='script.js') }}"></script>
    <script type = text/javascript >
        // Get the javascript to draw the image on a canvas
        function make_base(){
            base_image = new Image();
            // yay! jinga works here too.
            var image_url = '{{img_url}}';
            base_image.src = image_url;
            base_image.onload = function(){
                scale_to_fit(this);
            }
        }
        make_base();
    </script>
</body>



